.sidebar {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  border-right: 2px solid var(--border-color);
  flex-shrink: 0;
}

.sidebarMain {
  flex: 1;
  padding: 25px 15px;
  overflow-y: auto;
}

.footer {
  padding: 25px 15px;
  border-top: 2px solid var(--border-color);
}

.navLink {
  border-radius: 8px;
  color: var(--text-secondary);
  font-weight: 500;
}

.navLink:hover {
  background-color: inherit;
  color: var(--text-primary);
}

.navLink[data-active] {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--text-primary);
}

.navLabel {
  font-size: 15px;
}
