.container {
  position: relative;
  min-height: 100vh;
  background-color: #0b1021;
  overflow: hidden;
  z-index: 1;
  gap: 200px;
}

.backgroundGlow {
  position: absolute;
  width: 800px;
  height: 800px;
  top: -250px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: radial-gradient(
    circle,
    var(--accent-brandopacity45) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(120px);
  z-index: -1;
  pointer-events: none;
}

.mainBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  gap: 20px;
}

.slogan {
  font-size: 72px;
  text-align: center;
  margin: 0;
}

.secondaryText {
  font-size: 16px;
  color: var(--text-secondary);
  margin: 0;
}

.Button {
  color: #0b1021;
  font-weight: 600;
  margin: 30px;

  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(64, 194, 129, 1) 0%,
    rgba(181, 245, 206, 1) 51%,
    rgba(119, 237, 90, 1) 100%
  );

  padding: 10px 30px;
  border-radius: 24px;

  box-shadow: 0px 0px 30px rgba(64, 194, 129, 0.7);

  transition:
    box-shadow 0.3s ease,
    transform 0.2s ease;
}

.Button:hover {
  box-shadow: 0px 0px 50px rgba(64, 194, 129, 0.8);

  transform: translateY(-2px);
}
