.headerBox {
  padding: 8px 16px;
  border-bottom: 2px solid var(--border-color);
}

.radarBox {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.titles {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--text-primary);
  font-size: 22px;
  margin: 0;
}

.subtitle {
  color: var(--text-secondary);
  margin: 0;
  font-size: 16px;
  font-weight: 200;
}

.userTools {
  display: flex;
  gap: 10px;
}

.searchInput {
  background-color: var(--bg-midnight);
  color: var(--text-primary);
  border: 1px solid var(--border-color);

  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}

.searchInput:hover {
  border-color: var(--text-secondary);
}

.searchInput:focus {
  border-color: var(--accent-brand);
  background-color: var(--bg-midnight);
}

.searchInput::placeholder {
  color: var(--text-secondary);
  opacity: 0.7;
}

.actionBtn {
  color: var(--text-secondary);
  transition:
    color 0.2s ease,
    background-color 0.2s ease;
}

.actionBtn:hover {
  color: var(--text-primary);
  background-color: var(--bg-slate);
}

.userProfile {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 8px;
  transition: background-color 0.2s ease;

  user-select: none;
}

.userProfile:hover {
  background-color: var(--bg-slate);
}

.chevronIcon {
  color: var(--text-secondary);
  transition: transform 0.2s ease;
}

.userProfile:hover .chevronIcon {
  color: var(--text-primary);
  transform: translateY(2px);
}
